<!DOCTYPE html>
<html{% if(o.htmlWebpackPlugin.files.manifest) { %} manifest="{%= o.htmlWebpackPlugin.files.manifest %}"{% } %}>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=1020">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <title>{%=o.htmlWebpackPlugin.options.title || '2p-med'%}</title>{% if (o.htmlWebpackPlugin.files.favicon) { %}<link rel="shortcut icon" href="{%=o.htmlWebpackPlugin.files.favicon%}">{% } %}{% for (var css in o.htmlWebpackPlugin.files.css) { %}<link href="{%=o.htmlWebpackPlugin.files.css[css] %}" rel="stylesheet">{% } %}
  </head>
  <body>
    <div id="react-main-mount"></div>
    {% for (var chunk in o.htmlWebpackPlugin.files.chunks) { %}<script src="{%=o.htmlWebpackPlugin.files.chunks[chunk].entry %}"></script>{% } %}
  </body>
</html>
