@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "unit-thin";
  src: url("../fonts/unit-thin.eot");
  src: url("../fonts/unit-thin.eot?#iefix") format("embedded-opentype"), url("../fonts/unit-thin.woff") format("woff"), url("../fonts/unit-thin.ttf") format("truetype"), url("../fonts/unit-thin.svg#unit-thin") format("svg");
}

/*
commit test - can be removed
*/

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "unit-light";
  src: url("../fonts/unit-light.eot");
  src: url("../fonts/unit-light.eot?#iefix") format("embedded-opentype"), url("../fonts/unit-light.woff") format("woff"), url("../fonts/unit-light.ttf") format("truetype"), url("../fonts/unit-light.svg#unit-light") format("svg");
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "unit-medium";
  src: url("../fonts/unit-medium.eot");
  src: url("../fonts/unit-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/unit-medium.woff") format("woff"), url("../fonts/unit-medium.ttf") format("truetype"), url("../fonts/unit-medium.svg#unit-light") format("svg");
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "font-2p";
  src: url("../fonts/2p.eot");
  src: url("../fonts/2p.eot?#iefix") format("embedded-opentype"), url("../fonts/2p.woff") format("woff"), url("../fonts/2p.ttf") format("truetype"), url("../fonts/2p.svg#unit-light") format("svg");
}

body {
  background: var(--color-beige);
  color: black;
  font-size: 11pt;
}

a {
  color: black;
  text-decoration: none;
}

label {
  cursor: pointer;

  user-select: none;
}

.ApplicationPage {
  position: relative;
  overflow: hidden;
  min-width: 850px;
  min-height: 100vh;
}

.ApplicationPage__content {
  min-height: 100vh;
  width: 100vw;
  transition: top ease-out 0.2s;
}

.ApplicationPage__langs {
  position: fixed;
  right: 10px;
  bottom: 10px;
  display: inline-block;
}

.ApplicationPage__langs > li {
  float: left;
  margin-right: 10px;
}

.ApplicationPage__langs > li.hidden {
  display: none;
}

.ApplicationPage__langs > li > a {
  cursor: pointer;
}

.ApplicationPage__langs > li > a:hover {
  text-decoration: underline;
}
