:root {
  --left: 302px;
  --offset: 20px;
  --right: 282px;
}

.IndexPage {
  position: relative;
  display: block;
  float: left;
  box-sizing: border-box;
  padding: 0 calc(var(--right) + 2 * var(--offset)) 0 calc(var(--left) + 2 * var(--offset));
  min-height: 900px;
  width: 100%;
  height: 100%;
}

.IndexPage__widget {
  position: relative;
  box-sizing: border-box;
  padding: 0;
  border: 1px solid var(--color-grey);
  background: white;
}

.IndexPage__widget:after {
  display: block;
  height: 10px;
  background: var(--color-grey);
  color: white;
  content: "=";
  text-align: center;
  font-size: 9pt;
  font-family: unit-light, serif;
  cursor: pointer;
}

.IndexPage__widget-left {
  position: absolute;
  top: var(--offset);
  left: var(--offset);
  padding: 0;
  width: var(--left);
}

.IndexPage__widget-right {
  position: absolute;
  top: var(--offset);
  right: var(--offset);
  width: var(--right);
}

.IndexPage__widget-center {
  display: table;
  margin-top: var(--offset);
  max-height: 100vh;
  width: 100%;
}

.IndexPage__widget__title {
  margin: 0;
  padding: 12px;
  font-weight: normal;
  font-size: 19pt;
  font-family: "unit-light";
}
