.LoginPage {
  display: flex;
  width: 100%;
  height: 100%;
  background: white;

  justify-content: center;
}

.LoginPage__form {
  box-sizing: border-box;
  margin: 0 auto;
  width: 177px;
  font-size: 14pt;
  font-family: unit-light, serif;
}

.LoginPage__form label {
  display: inline-block;
  margin: 10px 0 0 0;
  padding: 3px 0;
  text-align: left;
  font-weight: bold;
}

.LoginPage__form input[type="text"],
.LoginPage__form input[type="password"] {
  padding: 0 5px;
  width: 100%;
  height: 43px;
  outline: 0;
  border: 1px solid var(--color-grey);
}

.LoginPage__submit {
  text-align: center;
}

.LoginPage__submit input {
  display: inline-block;
  margin: 10px 0 0 0;
  padding: 10px 13px;
  outline: 0;
  border: solid 1px var(--color-grey);
  background-color: var(--color-light-blue);
  color: white;
  font-size: 11pt;
}

.LoginPage__submit input:active {
  padding: 10px 12px 10px 14px;
  box-shadow: inset -1px 1px 2px 0 rgba(50, 50, 50, 0.38);
}

.LoginPage__checkbox {
  text-align: center;
}

.LoginPage__checkbox .Toggle__text {
  font-size: 13pt;
}
