:root {
  --height: 70px;
  --img-size: 51px;
  --max-width-user: 200px;
}

.AuthMenu {
  position: relative;
  z-index: 1000;
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: var(--height);
  background: white;
  box-shadow: 1px 1px 1px var(--color-grey);
  font: 11pt "unit-medium", serif;
}

.AuthMenu__avatar {
  position: relative;
  float: left;
  margin-top: calc((var(--height) - var(--img-size)) / 2);
  margin-left: 20px;
}

.AuthMenu__avatar__img {
  display: inline-block;
  float: left;
  width: var(--img-size);
  height: var(--img-size);
  border: 1px solid var(--color-grey);
  border-radius: var(--img-size);
  background-image: url("../img/userpic-default.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.AuthMenu__avatar__img:hover:after {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: var(--img-size);
  background: var(--color-grey);
  content: "";
  opacity: 0.3;
}

.AuthMenu__avatar__info {
  float: left;
  margin: 12px 0 0 12px;
  line-height: 15px;
}

.AuthMenu__avatar__name {
  display: block;
  margin: 0;
  max-width: var(--max-width-user);
  font-family: "unit-medium", serif;
  @mixin ellipsis;
}

.AuthMenu__avatar__role {
  display: block;
  max-width: var(--max-width-user);
  font-family: "unit-light", serif;
  @mixin ellipsis;
}

.AuthMenu__logo {
  float: right;
  padding: 0 15px;
  height: 70px;
  background: var(--color-light-blue);
}

.AuthMenu__logo:after {
  position: relative;
  left: 3px;
  display: block;
  margin: 0 auto;
  color: white;
  content: "\e800";
  text-align: center;
  font-size: 40px;
  font-family: "font-2p";
  line-height: 74px;
}

.AuthMenu__menu {
  float: right;
  box-sizing: border-box;
  height: 100%;
}

.AuthMenu__menu a:focus {
  outline: 0;
  text-decoration: none;
}

.AuthMenu__menu a:hover {
  color: black;
  text-decoration: none;
}

.AuthMenu__menu a:active {
  padding: 0 16px 0 14px;
  box-shadow: inset -1px 1px 2px 0 rgba(50, 50, 50, 0.38);
}

.AuthMenu__menu > li {
  float: left;
  height: 100%;
  border-right: 1px solid var(--color-grey);
  list-style: none;
}

.AuthMenu__menu__item {
  display: block;
  padding: 0 15px;
  height: 100%;
  color: black;
  text-decoration: none;
  line-height: var(--height);
  cursor: pointer;
}

.AuthMenu__menu > li > a:hover {
  background: var(--color-light-grey);
}

.AuthMenu__menu__item-dropdown {
  min-width: 200px;
}

.AuthMenu__menu__item-dropdown:after {
  float: right;
  content: "\f0d7";
  font-family: FontAwesome;
}

.AuthMenu__dropdowncontent {
  z-index: 1000;
  display: none;
  padding: 0;
  border-top: solid 1px #ccc9c6;
  background: #fff;
  box-shadow: -1px 4px 5px 3px rgba(69, 69, 69, 0.2);
}

.AuthMenu__dropdowncontent > li {
  display: block;
  border: none;
  line-height: 40px;
}

.AuthMenu__dropdowncontent > li > a {
  font-size: 10.5pt;
  line-height: 40px;
}

.AuthMenu__dropdowncontent > li > ul {
  padding: 0;
}

.AuthMenu__dropdowncontent > li > ul > li > a {
  text-indent: 7px;
  font-family: "unit-light", serif;
  line-height: 40px;
}

.AuthMenu__menu > li:hover > .AuthMenu__dropdowncontent {
  display: block;
}

.AuthMenu__dropdowncontent li {
  list-style: none;
}

.AuthMenu__dropdowncontent a {
  display: block;
  padding: 0 15px;
  color: black;
}

.AuthMenu__dropdowncontent a:hover {
  background: var(--color-light-grey);
  text-decoration: none;
}

.AuthMenu:hover + .ApplicationPage__content {
  opacity: 0.78;
  transition: opacity ease 250ms;
}

.AuthMenu + .ApplicationPage__content {
  opacity: 1;
  transition: opacity ease 250ms;
}
