.Calendar .fc-toolbar {
  margin: 0 10px 10px 10px;
  text-align: center;
}

.fc-time-grid-container.fc-scroller {
  max-height: 78vh;
}

.fc-highlight {
  background-color: var(--color-light-blue-4);
}

.fc .fc-axis {
  padding: 2px 5px;
  line-height: 20px;
}

.fc-widget-header {
  line-height: 24px;
}

.fc-state-default.fc-corner-right {
  border-radius: 0;
}

.fc-state-default.fc-corner-left {
  border-radius: 0;
}

.fc-button {
  padding: 0 6px;
  outline: 0;
  box-shadow: none;
}

.fc-state-hover {
  background: var(--color-light-grey);
}
