.LoginMenu {
  min-height: 105px;
  width: 100%;
}

.LoginMenu + .ApplicationPage__content {
  background: white;
}

.LoginMenu__logo-wrapper {
  position: absolute;
  left: 20%;
  display: table;
  padding: 5px 13px 4px 25px;
  background: var(--color-light-blue);
  box-shadow: 0 8px 8px 0 rgba(50, 50, 50, 0.38);
}

.LoginMenu__menu {
  display: table;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0 27px;
  width: 100%;
  height: 105px;
  background: var(--color-light-blue);
  text-align: right;
  text-shadow: 0 1px 1px #6f6f6f;
  font-size: 15pt;
  font-family: "unit-medium", serif;
  line-height: 105px;
}

.LoginMenu__icon-logo:after {
  content: "\E800";
  font-size: 4.2em;
  font-family: "font-2p";
  line-height: 74px;
}

.LoginMenu__login,
.LoginMenu__icon-logo {
  color: white;
  text-decoration: none;
}

.LoginMenu__login:active,
.LoginMenu__icon-logo:active {
  color: var(--color-yellow);
}

.LoginMenu__toggle {
  position: absolute;
  top: -100%;
  left: -100%;

  appearance: none;
}

.LoginMenu__label {
  display: block;
  float: right;
  padding: 18px 17% 18px 18px;
  color: var(--color-light-blue);
  font-size: 17pt;
  font-family: "font-2p";
  line-height: 20px;
  cursor: pointer;
  transition: all 300ms ease;
}

.LoginMenu__toggle:checked + .LoginMenu__container {
  margin: 0 0 0 0;
  transition: margin 300ms ease;
}

.LoginMenu__toggle + .LoginMenu__container {
  margin: -100px 0 0 0;
  transition: margin 300ms ease;
}

.LoginMenu__toggle:checked + .LoginMenu__container + .LoginMenu__label:after {
  margin: 100px 0 0 0;
  content: "\e802";
}

.LoginMenu__toggle + .LoginMenu__container + .LoginMenu__label:after {
  content: "\e801";
}

.LoginMenu__label:after {
  content: "\e802";
}

.LoginMenu__container {
  display: table;
  width: 100%;
  height: 100px;
}
