:root {
  --height-toolbar: 31px;
}

.PatientSearch__form {
  overflow: hidden;
  max-height: 0;
  background: #4ccef6;
  transition: max-height 260ms ease;
}

.PatientSearch__addFormToggler {
  display: none;
}

.PatientSearch__addFormToggler + .PatientSearch__form {
  display: flex;
  overflow: hidden;
  max-height: 0;
}

.PatientSearch__addFormToggler:checked + .PatientSearch__form {
  display: block;
  overflow: inherit;
  max-height: 1500px;
  transition: max-height 260ms ease;
}

.PatientSearch__toolbar {
  display: flex;
  justify-content: flex-end;
}

.PatientSearch__field {
  position: relative;
}

.PatientSearch__field:after {
  position: absolute;
  top: 8px;
  right: 7px;
  content: "\f002";
  font-family: FontAwesome;
  pointer-events: none;
}

.PatientSearch__input {
  display: block;
  padding: 0 10px;
  width: 111px;
  outline: 0;
  border: 0;
  background: var(--color-light-grey);
  font-size: 10pt;
  line-height: var(--height-toolbar);
  transition: width ease-out 0.2s;
}

.PatientSearch__input:focus {
  width: 178px;
}

.PatientSearch__icon {
  display: block;
  float: right;
  margin: 0;
  width: 31px;
  height: 31px;
  border: 0;
  background: #4ccef6;
  color: #fff;
  text-align: center;
  text-decoration: none;
  line-height: 31px;
  user-select: none;
}

.PatientSearch__icon:active {
  font-size: 8pt;
}

.PatientSearch__icon:before {
  margin: 0 -3px 0 0;
  font-family: FontAwesome;
}

.PatientSearch__icon-add:before {
  content: "\f007";
}

.PatientSearch__icon-edit:before {
  content: "\f044";
}

.PatientSearch__list {
  display: block;
  overflow-y: auto;
  max-height: 400px;
  width: 100%;
  border-top: 1px solid var(--color-light-grey);
}
