.PatientList {
  display: block;
  max-height: 500px;
  width: 100%;
}

.PatientList ul {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
}

.PatientList__list li {
  float: left;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  list-style: none;
}

.PatientList__list__char {
  height: 32px;
  text-align: center;
  font-size: 13pt;
  font-family: unit-light, serif;
  line-height: 30px;
}

.PatientList__patients__item:not(.ui-draggable-dragging) {
  top: auto !important;
  left: auto !important;
}

.PatientList__patients__item.ui-draggable-dragging {
  position: absolute !important;
  max-height: 35px;
}

.PatientList__patients__item > a {
  display: block;
  box-sizing: border-box;
  padding: 0 10px;
  width: 100%;
  height: 100%;
  color: black;
  font-size: 15px;
  font-family: unit-light, serif;
  line-height: 35px;
}

.PatientList__patients__item-0 > a {
  background: var(--color-light-blue-2);
}

.PatientList__patients__item-1 > a {
  background: var(--color-light-blue-3);
}

.PatientList__patients__item > a:hover,
.PatientList__patients__item-active > a {
  background: var(--color-light-blue);
  cursor: pointer;
}
