.PatientForm {
  padding: 10px;
}

h2.PatientForm__title {
  padding: 7px 0;
  color: white;
  font-size: 16pt;
  font-family: unit-light, serif;
}

.PatientForm__select,
.PatientForm__input,
.PatientForm__select2 {
  box-sizing: border-box;
  padding: 0 5px;
  width: 100%;
  outline: 0;
  border: 1px solid var(--color-light-blue-4);
  background-color: transparent;
  box-shadow: none;
  color: white;
  font-family: unit-light, serif;
  line-height: 32px;
}

.PatientForm__select2 .select2-container {
  width: 100% !important;
}

.PatientForm__select2 .select2-selection {
  box-sizing: border-box;
  width: 100%;
  outline: 0;
  border: 0;
  background: transparent;
  line-height: 32px;
}

.PatientForm__select2 .select2-container--default .select2-selection--single .select2-selection__rendered {
  padding: 0 12px 0 0;
  color: var(--color-light-blue-4);
}

.PatientForm__select2 .select2-selection__arrow {
  color: var(--color-light-blue-4);
}

.PatientForm__input:focus {
  box-shadow: 0 0 2px 0 white;
}

.PatientForm input::placeholder {
  color: var(--color-light-blue-4);
}

.PatientForm__row {
  display: inline-block;
  margin-top: 5px;
  width: 100%;
}

.PatientForm__row.toggles {
  margin: 12px 0 0 0;
  font-size: 12pt;
  font-family: "unit-light", serif;
}

.PatientForm__row > * {
  box-sizing: border-box;
  width: 100%;
}

.PatientForm__row-2 > * {
  float: left;
  width: 49%;
}

.PatientForm__row-x2 > *:first-child {
  float: left;
  margin-right: 2%;
  width: 65%;
}

.PatientForm__row-x2 > *:last-child {
  float: left;
  width: 33% !important;
}

.PatientForm__row-2 > *:first-child {
  box-sizing: border-box;
  margin-right: 2%;
}

.PatientForm__row-3 > * {
  float: left;
  box-sizing: border-box;
  margin-right: 2%;
  width: 32% !important;
}

.PatientForm__row-3 > *:last-child {
  margin-right: 0 !important;
}

.PatientForm__row-buttons {
  padding: 5px 0 0 0;
}

.PatientForm__button {
  display: block;
  float: right;
  box-sizing: border-box;
  margin: 0;
  padding: 10px 7px;
  outline: 0;
  border: 0;
  background: transparent;
  color: white;
  text-decoration: none;
  font-size: 13pt;
  font-family: "unit-light", serif;
  cursor: pointer;
  transform: translate(0, 0);
  transition: transform 0.1s ease-out;
  width: auto;
}

.PatientForm__button[disabled] {
  color: rgba(255, 255, 255, 0.4);
}

.PatientForm__button:active {
  transform: translate(1px, 1px);
}

.PatientForm-error .Validator-error {
  border-color: red;
}
