.Select {
  position: relative;
  display: block;
  width: 100%;
  border: 1px solid #b3eafb;
}

.Select__input {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 32px;
  border: 1px solid #b3eafb;
  background-color: #00b9f2;
  color: #b3eafb;
  opacity: 0;
  cursor: pointer;
}

.Select__value {
  position: relative;
  box-sizing: border-box;
  padding: 0 2px;
  width: 100%;
  background-color: #4ccef6;
  color: #b3eafb;
  @mixin ellipsis;
}

.Select__value:before,
.Select__value:after {
  position: absolute;
  top: 46%;
  right: 3px;
  font-size: 12pt;
  font-family: FontAwesome;
}

.Select__value:before {
  margin-top: -19px;
  content: "\f0d8";
}

.Select__value:after {
  margin-top: -9px;
  content: "\f0d7";
}
