.Toggle {
  display: inline-block;
  margin: 7px 0;
  padding: 0 0 0 5px;
  color: #ddd;
}

.Toggle__item,
.Toggle__item:after,
.Toggle__item:before,
.Toggle__item *,
.Toggle__item *:after,
.Toggle__item *:before,
.Toggle__item + .Toggle__btn {
  display: none;
  box-sizing: border-box;
}

.Toggle__item::selection,
.Toggle__item:after::selection,
.Toggle__item:before::selection,
.Toggle__item *::selection,
.Toggle__item *:after::selection,
.Toggle__item *:before::selection,
.Toggle__item + .Toggle__btn::selection {
  background: none;
}

.Toggle__btn {
  font-size: 11pt;
}

.Toggle__item + .Toggle__btn {
  position: relative;
  display: inline-block;
  width: 1.666em;
  height: 1em;
  outline: 0;
  cursor: pointer;

  user-select: none;
}

.Toggle__item + .Toggle__btn:after,
.Toggle__item + .Toggle__btn:before {
  position: relative;
  display: block;
  width: 50%;
  height: 100%;
  content: "";
}

.Toggle__item + .Toggle__btn:after {
  left: 0;
}

.Toggle__item + .Toggle__btn:before {
  display: none;
}

.Toggle__item:checked + .Toggle__btn:after {
  left: 50%;
}

.Toggle__item + .Toggle__btn {
  margin: 0 5px;
  padding: 1px;
  height: 1em;
  border: 2px solid #ddd;
  border-radius: 2em;
  background: transparent;
  transition: all 0.1s ease;
}

.Toggle__item + .Toggle__btn:after {
  border-radius: 1em;
  background: #ddd;
  content: "";
  transition: all 0.1s ease;
}

.Toggle__item:checked + .Toggle__btn {
  border: 2px solid #000;
}

.Toggle__item:checked + .Toggle__btn:after {
  left: 50%;
  background: #000;
}

.Toggle__text {
  position: relative;
  font-size: 12pt;
}

.Toggle__item:checked + .Toggle__btn + .Toggle__text {
  color: #000;
}

/* cyan */

.Toggle-cyan .Toggle__item:checked + .Toggle__btn {
  border-color: white;
}

.Toggle-cyan .Toggle__item:checked + .Toggle__btn:after {
  background: white;
}

.Toggle-cyan  .Toggle__item:checked + .Toggle__btn + .Toggle__text {
  color: white;
}

.Toggle-cyan .Toggle__item + .Toggle__btn {
  border-color: #b3eafb;
}

.Toggle-cyan .Toggle__item + .Toggle__btn:after {
  background: #b3eafb;
}

.Toggle-cyan .Toggle__item + .Toggle__btn + .Toggle__text {
  color: #b3eafb;
}
